<ng-container  *ngIf="course" #container>
  <div class="course-card" [ngClass]="cardClasses()">

    <div class="course-title"
        *ngIf="course.category === undefined" >
      {{ course.description }}
    </div>

    <div class="course-title"
      *ngIf="course.category !== undefined" >
      {{  course.category }}
    </div>


    <ng-content select="app-course-image"
                *ngIf="course.iconUrl; else blankImage"></ng-content>

    <ng-content select=".card-body"></ng-content>

    <ng-content></ng-content>

    <ng-container  [ngSwitch]="course.category">
      <div class="course-category">
        <ng-container *ngSwitchCase="'BEGINNER'">
          <div class="category">Beginner</div>
        </ng-container>
        <ng-container *ngSwitchCase="'INTERMEDIATE'">
          <div class="category">Intermediate</div>
        </ng-container>
        <ng-container *ngSwitchCase="'ADVANCED'">
          <div class="category">Advanced</div>
        </ng-container>
        <div class="course-category" *ngSwitchDefault>All levels</div>
      </div>
    </ng-container>

    <button (click)="onCourseViewed()">View Course</button>
  </div>
</ng-container>
