<div class="top-menu">
  <img class="logo"
  src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses[0] as course" >

  <!-- Defining template -->
  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image yet.</p>
    <img src="/assets/empty-image.png">
  </ng-template>

  <hr><hr>
  <app-course-card [course]="course"
                   [noImageTpl]="blankImage"
                   (courseSelected)="onCourseSelected($event)">

    <app-course-image [src]="course.iconUrl"></app-course-image>

    <div class="card-body">
      <div class="card-text">{{ course.longDescription }}</div>
    </div>

  </app-course-card>
</div>
