<div class="top-menu">
  <img class="logo"
  src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses[0] as course" >
  <app-course-card [course]="course"
                   (courseSelected)="onCourseSelected($event)">

    <app-course-image [src]="course.iconUrl"></app-course-image>

    <div class="card-body">
      <div class="card-text">{{ course.longDescription }}</div>
    </div>

    Edit Description: <textarea name="" id="" cols="30" rows="5"></textarea>

  </app-course-card>
</div>
